div[aria-label="Von dir stummgeschaltet"] svg, 
.iconServer-GeSR0b, .strikethrough-2G7pYT {
    color: lightseagreen;
}

ul[aria-label="Direktnachrichten"] li {
    max-width: 280px;
}

.platform-win .sidebar-1tnWFu {
    width: 300px
}

.container-YkUktl {
    width: 284px;
}
